/** BODY **/ 
body {
    margin: 0;
}


/** NAV BAR **/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.venstre-nav {
    font-family: "Big Shoulders Text";
}

.højre-nav {
    font-family: "Big Shoulders Text";
    display: flex;
}

.link {
    text-decoration: none;
    flex-wrap: nowrap;
    color: black;
    padding: 5%;
}


/** FOOTER **/

.footer {
    display: flex;
    align-items: flex-start;
    background-color: rgb(1, 17, 1);
    align-content: flex-start;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-around;
    padding-left: 30%;
    padding-right: 30%;
}

.logo {
    height: auto;
    width: auto;
}

.logo-billede {
    color: white;
}

.liste {
    display: flex;
    flex-direction: column;
    color: white;
}

.liste-to {
    display: flex;
    flex-direction: column;
    color: white;
}

.liste, .liste-to {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sociale-medier {
    display: flex;
}

.sociale-logoer {
    height: auto;
    width: auto;
    color: white;
}



/** BREAKPOINTS iphone 14 pro (430 px) & desktop (1440 px) **/


/** 
FONTS: 
Average
Big Shoulders Text
Gruppo
Open Sans 
**/

@import url('https://fonts.googleapis.com/css2?family=Average&family=Big+Shoulders+Text:wght@100..900&family=Gruppo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

