/** NAV BAR **/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
    flex-wrap: nowrap;
}


/** FOOTER **/


/** BREAKPOINTS iphone 14 pro (430 px) & desktop (1440 px) **/


/** 
FONTS: 
Average
Big Shoulders Text
Gruppo
Open Sans 
**/

@import url('https://fonts.googleapis.com/css2?family=Average&family=Big+Shoulders+Text:wght@100..900&family=Gruppo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

