/** 
FONTS: 
Average
Big Shoulders Text
Gruppo
Open Sans 
**/

@import url('https://fonts.googleapis.com/css2?family=Average&family=Big+Shoulders+Text:wght@100..900&family=Gruppo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.hero-image {
    background-image: url(../img/forsidebillede.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;

}

.forside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 13%;
}

.forside-overskrift {
    font-family: 'Open sans';
    font-size: 60px;
}

.forside-knap-og-tekst {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
}

.forside-knap-tekst {
    display: flex;
    align-items: center;
    font-family: 'open sans';
    font-size: 15px;
}

.forside-knap-pil {
    font-size: 30px;
}

.forside-knap {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 2%;
    background-color: black;
    justify-content: center;
    border-radius: 40px;
}

.forside-tekst {
    font-family: 'Open sans';
    font-size: 20px;
    margin-left: 10%;
    max-width: 90ch;
    display: flex;
    align-items: center;
}

.underforside {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 5%;
}

.underforside-overskrift {
    font-family: 'big shoulders text';
    font-size: 45px;
    margin: 0;
}

.underforside-tekst {
    font-family: "gruppo";
    font-size: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    max-width: 68ch;
}

/**
.boks {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 5%;
}


.boks-billede {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.boks-beskrivelse {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    max-width: 90ch;
    background-color: #797878;
    padding: 20px;
}
**/

/* CSS stilarter */
.boks {
display: flex;
align-items: stretch; /* Sørger for at boksene har samme højde */
margin-left: 15%;
margin-right: 15%;
margin-top: 5%;
margin-bottom: 10%;
}
  
.boks-billede {
flex: 1; /* Sørger for at billedet tager op 1/3 af boksen */
display: flex;
align-items: center; /* Centrerer billedet vertikalt */
justify-content: center; /* Centrerer billedet horisontalt */
height: auto;
width: 100%;
border: solid black;
}
  
.boks-billede img {
max-width: 100%; /* Sørger for at billedet ikke bliver større end boksen */
width: 100%;
height: 100%; /* Sørger for at billedet beholder sin proportion */
object-fit: cover;
}
  
.boks-beskrivelse {
flex: 2; /* Sørger for at beskrivelsen tager op 2/3 af boksen */
display: flex;
flex-direction: column; /* Sørger for at beskrivelsen er stakket vertikalt */
align-items: center; /* Centrerer beskrivelsen horisontalt */
justify-content: center; /* Centrerer beskrivelsen vertikalt */
padding-left: 5%; /* Tilføjer padding til beskrivelsen */
padding-right: 5%;
background-color: #f2f2f2;
}

.billede-et {
    width: fit-content;
}

.boks-overskrift {
    font-family: 'open sans';
    font-size: 2rem;
    padding-bottom: 2%;
    padding-top: 2%;
}

.boks-tekst {
    font-family: 'average';
    font-size: 1.5rem;
    max-width: 60ch;
}

.knap {
    display: flex;
    margin: 5%;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 75%;
    padding: 1%;
    border-radius: 40px;
}

.link-pil {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Average';
    font-size: 1.5rem;
}

.knap-pil {
    width: auto;
    height: auto;
}

@media only screen and (max-width: 430px) {

    .forside {
        text-align: center;
        padding-top: 65%;
    }

    .forside-overskrift {
        font-size: 3rem;
        margin: 10%;
    }

    .forside-knap-og-tekst {
        margin: 10%;
        display: flex;
        flex-direction: column-reverse;
        margin: 5%;
    }

    .forside-knap {
        margin-top: 5%;
        width: 180%;
        padding: 15%;
        background-color: black;
        justify-content: center;
    }

    .forside-tekst {
        display: none;
    }

    .underforside {
        margin-top: 15%;
    }

    .underforside-tekst {
        max-width: 30ch;
        margin-top: 10%;
    }

    .boks {
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
    }

    .boks-overskrift{
        margin: 3%;
        font-size: 3rem;
    }

    .boks-beskrivelse {
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }

    .knap{
        background-color: black;
        width: 100%;
        padding: 5%;
    }

}

@media only screen and (min-width: 1440px) {
    
    .forside{
        padding-top: 12%;
    }

    .boks-overskrift {
        font-size: 3rem;
        padding-bottom: 2%;
    }




}